.cardCarrito{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.08);
    background-color: white;
}
.contenedorImagen{
    padding: 0.4rem;
    height: 100%;
    width: 20%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}
.itemNombre{
    width: 55%;
    margin-left: 1rem;
}
.itemPrecio{
    width: 15%;
}
.contenedorBoton{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
}