.cartContainer{
  display: flex;
  align-content: center;
  width: 100%;
  margin-top: 5rem;
  justify-content:center;
  gap: 7rem;
}

.cartItems{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsCart{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.buttonsCart > p{
  margin: 0;
}