.dark-color-light{
  color: #8A8A8A;
}

.bd-grid{
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 5rem 0 2rem;
  text-align: center;
}

.big-icon{
  font-size: 5rem;
  margin: 1.5rem;
}