.forgot_password{
  width: 50%;
  margin: auto;
}

.forgot_password button{
  background: #212121;
  width: 374px;
  height: 64px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  margin-top: 60px;
  cursor: pointer;
}

.input_forgotPassword{
  text-align: center;
  width: 100%;
}