.cardStyle{
  height: 25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: .5rem;
  transition: .3s;
}

.cardStyle:hover{
  transform: translateY(-.5rem);

}

.cardImg{
  width: 11em;
  height: 11em;
  background-color:white;
  margin: 2rem;
  filter: drop-shadow(0 12px 8px rgba(0, 0, 0, .3));
  border-radius: 50%;
}

.cardName, .cardPrice{
  font-size: .938rem;
  letter-spacing: .07rem;
  font-weight: 600;
  text-align: center;
}

.cardName{
  margin-bottom: .5rem;
}

.cardPrice{
  margin-bottom: 2rem;
}

.button-light {
  display: inline-flex;
  color: #141414;
  font-weight: 800;
  align-items: center;
  cursor: pointer;
}
.button-light:hover{
  color: #141414;
}

.button-light:hover .button-icon{
  transform: translateX(.5rem);
}